Repository voyageglobal/voyage-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js, jsx,ts,tsx}": ["eslint --quiet --fix"],
  "*.{json,js,ts,jsx,tsx}": ["prettier --write --ignore-unknown"]
}

Test PR templates
  README.md
Due: none

Test PR templates
  .github/PULL_REQUEST_TEMPLATE/MAIN.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: none

Another try
  .github/pull_request_template.md
Due: none

Test PR templates
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: none

Updated .gitignore
  .gitignore
Due: none

Setup docker and zoo around it
  .dockerignore
  .env.sample
  Dockerfile
  README.md
  docker-compose.yml
  package-lock.json
  package.json
  prisma/schema.prisma
Due: prettier --write --ignore-unknown

Setup DB connection + guides scaffolding
  .eslintrc.js
  .gitignore
  docker-compose.yml
  package.json
  prisma/migrations/20240228184349_init/migration.sql
  prisma/migrations/migration_lock.toml
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/config/env/env-configuration.ts
  src/config/env/utils.ts
  src/main.ts
  src/modules/app/app.controller.spec.ts
  src/modules/app/app.controller.ts
  src/modules/app/app.module.ts
  src/modules/app/app.service.ts
  src/modules/guides/dto/create-guide.dto.ts
  src/modules/guides/dto/update-guide.dto.ts
  src/modules/guides/entities/guide.entity.ts
  src/modules/guides/guides.controller.spec.ts
  src/modules/guides/guides.controller.ts
  src/modules/guides/guides.module.ts
  src/modules/guides/guides.service.spec.ts
  src/modules/guides/guides.service.ts
  src/modules/health-check/health-check.controller.spec.ts
  src/modules/health-check/health-check.controller.ts
  src/modules/health-check/health-check.module.ts
  src/modules/prisma/prisma.module.ts
  src/modules/prisma/prisma.service.spec.ts
  src/modules/prisma/prisma.service.ts
  src/modules/prisma/seed.ts
  test/app.e2e-spec.ts
  tsconfig.json
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Implemented simplified version of guides service
  src/config/env/env-configuration.ts
  src/modules/guides/dto/create-guide.dto.ts
  src/modules/guides/dto/guide.dto.ts
  src/modules/guides/dto/update-guide.dto.ts
  src/modules/guides/entities/guide.entity.ts
  src/modules/guides/entities/guide.ts
  src/modules/guides/guides.controller.spec.ts
  src/modules/guides/guides.controller.ts
  src/modules/guides/guides.module.ts
  src/modules/guides/guides.service.spec.ts
  src/modules/guides/guides.service.ts
  src/modules/prisma/prisma.module.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Updated README.md
  README.md
  commitlint.config.js
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Extended guide model with cities, countries, images
  prisma/migrations/20240229180910_guides_model_extension_with_cities_countries_images/migration.sql
  prisma/schema.prisma
  src/modules/guides/dto/create-guide.dto.ts
  src/modules/guides/dto/guide.dto.ts
  src/modules/guides/dto/update-guide.dto.ts
  src/modules/guides/entities/city.ts
  src/modules/guides/entities/country.ts
  src/modules/guides/entities/guide.ts
  src/modules/guides/entities/image.ts
  src/modules/guides/guides.service.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Extended env with aws s3 secrets
  .env.sample
  src/config/env/env-configuration.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Added file upload for one file
  package-lock.json
  package.json
  src/modules/app/app.module.ts
  src/modules/aws-s3/aws-s3.module.ts
  src/modules/aws-s3/aws-s3.service.spec.ts
  src/modules/aws-s3/aws-s3.service.ts
  src/modules/guides/dto/guide.dto.ts
  src/modules/guides/dto/update-guide.dto.ts
  src/modules/guides/entities/city.ts
  src/modules/guides/entities/country.ts
  src/modules/guides/entities/guide.entity.ts
  src/modules/guides/entities/image.ts
  src/modules/images/dto/update-image.dto.ts
  src/modules/images/dto/upload-images.dto.ts
  src/modules/images/entities/image.entity.ts
  src/modules/images/images.controller.spec.ts
  src/modules/images/images.controller.ts
  src/modules/images/images.module.ts
  src/modules/images/images.service.spec.ts
  src/modules/images/images.service.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Extended api description in swagger for guides controller
  src/modules/guides/guides.controller.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown
