Repository voyageglobal/voyage-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js, jsx,ts,tsx}": ["eslint --quiet --fix"],
  "*.{json,js,ts,jsx,tsx}": ["prettier --write --ignore-unknown"]
}

Write unit-test for guide update operation
  src/modules/guides/guides.service.spec.ts
  src/modules/guides/guides.service.ts
  src/test-utils/mocks/guide.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Updated db config + extended docs
  .env.sample
  README.md
  docker-compose.yml
  src/config/env/env-configuration.ts
  src/modules/guides/guides.service.ts
  src/process-env.d.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Added unit-tests for get method of service
  src/modules/guides/guides.service.spec.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Updated docs + fix prisma.service unit test
  docs/how-to-deploy-app-to-ec2.md
  src/modules/prisma/prisma.service.spec.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Added dbml generator to prisma to generate db diagram in dbml format
  README.md
  docs/db/schema.dbml
  package-lock.json
  package.json
  prisma/schema.prisma
Due: prettier --write --ignore-unknown

Added flag field to country model
  docs/db/schema.dbml
  prisma/migrations/20240407183441_added_flag_field_to_country_table/migration.sql
  prisma/schema.prisma
Due: none

Update country model
  src/modules/countries/dto/country.dto.ts
  src/modules/countries/entities/country.entity.ts
  src/test-utils/mocks/city.ts
  src/test-utils/mocks/country.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Added county input and output schemas
  src/modules/prisma/seeds/countries/constants.ts
  src/modules/prisma/seeds/countries/countries.json
  src/modules/prisma/seeds/countries/index.ts
  src/modules/prisma/seeds/countries/processor.ts
  src/modules/prisma/seeds/countries/schema.ts
  src/modules/prisma/seeds/countries/utils.ts
  src/modules/prisma/seeds/guide-categories/utils.ts
  src/modules/prisma/seeds/utils/seed-data-validator.test.ts
  src/modules/prisma/seeds/utils/seed-data-validator.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Created seed processor
  src/modules/prisma/seeds/countries/processor.ts
  src/modules/prisma/seeds/countries/schema.ts
  src/modules/prisma/seeds/countries/transformers.ts
  src/modules/prisma/seeds/countries/utils.ts
  src/modules/prisma/seeds/guide-categories/processor.ts
  src/modules/prisma/seeds/guide-categories/schema.ts
  src/modules/prisma/seeds/guide-categories/utils.ts
  src/modules/prisma/seeds/utils/index.ts
  src/modules/prisma/seeds/utils/seed-data-validator.test.ts
  src/modules/prisma/seeds/utils/seed-data-validator.ts
  src/modules/prisma/seeds/utils/seed-processor.test.ts
  src/modules/prisma/seeds/utils/seed-processor.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Added counties seed to main seed script
  src/modules/prisma/seed.ts
  src/modules/prisma/seeds/countries/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Covered countries transformers by unit tests
  src/modules/prisma/seeds/countries/transformers.test.ts
  src/modules/prisma/seeds/countries/transformers.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Covered seed processor by unit tests
  src/modules/prisma/seeds/utils/seed-processor.test.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Updated documentation
  .env.sample
  docs/how-to-apply-seeds-to-external-db.md
  docs/how-to-deploy-app-to-ec2.md
Due: none

Initial commit
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Initial version of cities seed processor
  README.md
  src/modules/prisma/seed.ts
  src/modules/prisma/seeds/cities/constants.ts
  src/modules/prisma/seeds/cities/index.ts
  src/modules/prisma/seeds/cities/processor.ts
  src/modules/prisma/seeds/cities/schema.ts
  src/modules/prisma/seeds/cities/transformers.test.ts
  src/modules/prisma/seeds/cities/transformers.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown
