Repository voyageglobal/voyage-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js, jsx,ts,tsx}": ["eslint --quiet --fix"],
  "*.{json,js,ts,jsx,tsx}": ["prettier --write --ignore-unknown"]
}

Make some fields of CitiesQuery optional
  src/modules/cities/cities.controller.ts
  src/modules/cities/dto/get-cities-query.dto.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Add unit tests
  jest.config.json
  src/modules/cities/cities.service.spec.ts
  src/modules/cities/utils.test.ts
  src/test-utils/jest/jest-setup.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Add stats controller
  src/modules/app/app.module.ts
  src/modules/stats/dto/get-total-stats-response.dto.ts
  src/modules/stats/dto/total-stats.dto.ts
  src/modules/stats/stats.controller.spec.ts
  src/modules/stats/stats.controller.ts
  src/modules/stats/stats.module.ts
  src/modules/stats/stats.service.spec.ts
  src/modules/stats/stats.service.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Added stats service
  src/modules/stats/stats.service.spec.ts
  src/modules/stats/stats.service.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Update prod PR workflow
  .github/workflows/prod-pull-request.yml
Due: none

Change guides endpoint to accept query and return paginated result
  src/modules/cities/cities.controller.ts
  src/modules/guides/dto/get-guides-query.dto.ts
  src/modules/guides/dto/get-guides-response.dto.ts
  src/modules/guides/guides.controller.ts
  src/modules/guides/guides.service.spec.ts
  src/modules/guides/guides.service.ts
  src/modules/guides/utils.ts
  src/test-utils/mocks/guide.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Update github pr template to make it less annoying
  .github/pull_request_template.md
Due: none

Bump actions versions
  .github/workflows/prod-pull-request.yml
Due: none

Add build-and-test github action
  .github/workflows/build-and-test.yml
  package.json
Due: prettier --write --ignore-unknown

Made github workflow to publish Docker image
  .github/workflows/push-docker-image.yml
Due: none

Lock version of postgres in docker-compose.yml
  docker-compose.yml
  docs/how-to-deploy-app-to-ec2.md
Due: none

Cancel prev workflow
  .github/workflows/build-and-test.yml
Due: none

Change origin to list of allowed origins
  .env.sample
  src/config/env/env-configuration.ts
  src/main.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Setup nginx
  docker-compose.yml
  nginx.conf
Due: none

Update nginx.conf
  nginx.conf
Due: none

Extended nginx config with https port and change location to /api + make own network inside docker
  docker-compose.yml
  docs/how-to-docker.md
  nginx.conf
Due: none

Replace proxy_pass with docker names
  nginx.conf
Due: none

Fix pgadmin port
  nginx.conf
Due: none

Connect nginx to the same docker network
  docker-compose.yml
Due: none

Update pgadmin nginx config
  nginx.conf
Due: none

Remove pgadmin from nginx.conf
  nginx.conf
Due: none

One more try
  nginx.conf
Due: none

Final fix for nginx, swagger and API
  nginx.conf
  src/main.ts
  src/modules/app/app.controller.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Update docs, no code updates
  docs/how-to-upload-assets.md
  src/modules/prisma/seeds/guide-categories/guide-categories.json
Due: prettier --write --ignore-unknown

Added iconName column into GuideCategory model
  docs/db/schema.dbml
  prisma/migrations/20241113211431_add_icon_name_column_to_guide_category_table/migration.sql
  prisma/schema.prisma
Due: none

Update seeds
  src/modules/prisma/seeds/guide-categories/guide-categories.json
Due: prettier --write --ignore-unknown

Update DTOs for GuideCategory
  src/modules/guide-categories/dto/get-guide-categories-response.dto.ts
  src/modules/guide-categories/dto/guide-category.dto.ts
  src/modules/guide-categories/entities/guide-category.entity.ts
  src/test-utils/mocks/guide-category.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Added support for filtering guides by categories
  package-lock.json
  package.json
  src/modules/common/utils/api-query/index.ts
  src/modules/common/utils/api-query/transform-string-to-array.ts
  src/modules/guides/dto/get-guides-query.dto.ts
  src/modules/guides/dto/get-guides-request-query.dto.ts
  src/modules/guides/filters.ts
  src/modules/guides/guides.controller.ts
  src/modules/guides/guides.service.ts
  src/modules/guides/utils.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Add global in-memory cache
  src/modules/app/app.module.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Reworked filters builder
  src/modules/guides/filters/GuideFiltersBuilder.ts
  src/modules/guides/filters/constants.ts
  src/modules/guides/filters/filters.ts
  src/modules/guides/filters/index.ts
  src/modules/guides/filters/utils.ts
  src/modules/guides/guides.service.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Add unit-tests for filters
  package.json
  src/modules/guides/filters/GuideFiltersBuilder.test.ts
  src/modules/guides/filters/GuideFiltersBuilder.ts
  src/modules/guides/filters/utils.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Add city and country query params for guides endpoint
  src/modules/guides/dto/get-guides-query.dto.ts
  src/modules/guides/dto/get-guides-request-query.dto.ts
  src/modules/guides/filters/filters.ts
  src/modules/guides/guides.controller.ts
  src/modules/guides/guides.service.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: add filter by country ids for cities endpoint
  docs/how-to-restore-backup.md
  src/modules/cities/cities.controller.ts
  src/modules/cities/cities.service.ts
  src/modules/cities/dto/get-cities-query.dto.ts
  src/modules/cities/utils.test.ts
  src/modules/cities/utils.ts
  src/modules/common/utils/api-query/transform-string-to-array.test.ts
  src/modules/common/utils/api-query/transform-string-to-array.ts
  src/modules/guides/guides.controller.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: make countries endpoint fully paginated
  src/modules/cities/utils.test.ts
  src/modules/cities/utils.ts
  src/modules/countries/countries.controller.ts
  src/modules/countries/countries.service.ts
  src/modules/countries/dto/get-countries-query.dto.ts
  src/modules/countries/dto/get-countries-response.dto.ts
  src/modules/countries/utils.test.ts
  src/modules/countries/utils.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Update documentation
  docs/how-to-do-db-backup.md
Due: none

feat: readd search for cities by city or country name
  src/modules/app/app.module.ts
  src/modules/cities/cities.controller.spec.ts
  src/modules/cities/cities.controller.ts
  src/modules/cities/cities.service.spec.ts
  src/modules/cities/utils.test.ts
  src/modules/cities/utils.ts
  src/modules/countries/countries.controller.spec.ts
  src/modules/countries/countries.controller.ts
  src/modules/countries/countries.service.spec.ts
  src/modules/guide-categories/guide-categories.controller.spec.ts
  src/modules/guide-categories/guide-categories.controller.ts
  src/modules/guide-categories/guide-categories.service.spec.ts
  src/modules/search/dto/get-search-cities-query.dto.ts
  src/modules/search/dto/get-search-cities-response.dto.ts
  src/modules/search/entities/search.entity.ts
  src/modules/search/search.controller.ts
  src/modules/search/search.module.ts
  src/modules/search/search.service.ts
  src/modules/search/utils.test.ts
  src/modules/search/utils.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: extend cities search endpoint with sorting and onlyWithGuides filter
  src/modules/search/dto/get-search-cities-query.dto.ts
  src/modules/search/search.controller.ts
  src/modules/search/search.service.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix: make searchString for search endpoint optional
  src/modules/search/dto/get-search-cities-query.dto.ts
  src/modules/search/search.controller.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown
