Repository voyageglobal/voyage-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js, jsx,ts,tsx}": ["eslint --quiet --fix"],
  "*.{json,js,ts,jsx,tsx}": ["prettier --write --ignore-unknown"]
}

Deployed app to ec2 instance and write some docs about that
  .gitignore
  README.md
  docs/how-to-aws-ec2.md
  docs/how-to-docker.md
  src/modules/guides/guides.service.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Setup pgadmin in docker-compose.yml
  .env.sample
  docker-compose.yml
  docs/how-to-docker.md
Due: none

Fix docker-compose.yml
  .env.sample
  docker-compose.yml
Due: none

Test building for another platform
  Dockerfile
  docs/how-to-docker.md
Due: none

Added prisma documentation
  docs/how-to-prisma.md
Due: none

Updated docs related to docker
  docs/how-to-deploy-app-to-ec2.md
  docs/how-to-docker.md
Due: none

Added GuideCategories model and according migrations
  prisma/migrations/20240326175939_added_guide_category_model/migration.sql
  prisma/migrations/20240326185548_added_relation_between_categories_and_guides/migration.sql
  prisma/schema.prisma
Due: none

Added endpoint to retrieve guide categories
  src/modules/app/app.module.ts
  src/modules/guide-categories/dto/get-guide-categories-response.dto.ts
  src/modules/guide-categories/dto/guide-category.dto.ts
  src/modules/guide-categories/entities/guide-category.entity.ts
  src/modules/guide-categories/entities/guide.ts
  src/modules/guide-categories/guide-categories.controller.spec.ts
  src/modules/guide-categories/guide-categories.controller.ts
  src/modules/guide-categories/guide-categories.module.ts
  src/modules/guide-categories/guide-categories.service.spec.ts
  src/modules/guide-categories/guide-categories.service.ts
  src/test-utils/mocks/guide-category.ts
  src/test-utils/mocks/guides.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Added missed type and mock
  src/modules/cities/cities.controller.ts
  src/modules/guides/guides.controller.spec.ts
  src/test-utils/mocks/guides.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Implemented guide-categories service, setup prisma for unit-tests
  jest.config.json
  package-lock.json
  package.json
  src/modules/aws-s3/types.ts
  src/modules/common/types/api-response.ts
  src/modules/guide-categories/guide-categories.module.ts
  src/modules/guide-categories/guide-categories.service.spec.ts
  src/modules/guide-categories/guide-categories.service.ts
  src/modules/images/dto/image.dto.ts
  src/modules/images/dto/update-image.dto.ts
  src/modules/images/images.service.ts
  src/test-utils/prisma/client.ts
  src/test-utils/prisma/prisma-instance-mock.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Added support of new test files format: FILE_NAME.test.ts
  jest.config.json
Due: prettier --write --ignore-unknown

Added pagination utils
  src/modules/common/constants/pagination.ts
  src/modules/common/utils/pagination/index.ts
  src/modules/common/utils/pagination/page-number.test.ts
  src/modules/common/utils/pagination/page-number.ts
  src/modules/common/utils/pagination/page-size.test.ts
  src/modules/common/utils/pagination/page-size.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Added more mocks for unit-tests
  src/test-utils/mocks/city.ts
  src/test-utils/mocks/country.ts
  src/test-utils/mocks/guide.ts
  src/test-utils/mocks/image.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Reexported prisma mocks
  src/test-utils/prisma/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown
